In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [15]:
data = pd.read_csv("Churn_Modelling.csv")

In [16]:
data = data.drop(['RowNumber', 'CustomerId','Surname' ], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
## Encode Categorical variable

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [18]:
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [19]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [20]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [21]:
geo_encode_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encode_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [22]:
## Combine OHE columns with original data
data= pd.concat([data.drop(['Geography'], axis=1), geo_encode_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [23]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [24]:
# Split data in training and testing set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### ANN Regresion and Problem Statement

In [26]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1)  ## output layer
])

WARNING:tensorflow:From d:\Swapil2\LEARNING\Udemy-Krish\ANN\ANN_Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [35]:
## compile the model
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=['mae'])

In [36]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [37]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [38]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [39]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Swapil2\LEARNING\Udemy-Krish\ANN\ANN_Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Swapil2\LEARNING\Udemy-Krish\ANN\ANN_Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 7ms/step - loss: 100385.0234 - mae: 100385.0234 - val_loss: 98535.6094 - val_mae: 98535.6094
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99678.8125 - mae: 99678.8125 - val_loss: 97087.2344 - val_mae: 97087.2344
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 97158.3750 - mae: 97158.3750 - val_loss: 93358.0234 - val_mae: 93358.0234
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 92157.6562 - mae: 92157.6562 - val_loss: 87075.8203 - val_mae: 87075.8203
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 84766.0547 - mae: 84766.0547 - val_loss: 78910.4609 - val_mae: 78910.4609
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 76034.9531 - mae: 76034.9531 - val_loss: 70172.4453 - val_mae: 70172.4453
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 67425.4609 - mae: 67425.4609 - val_loss: 62452.5469 - val_mae: 62452.5469
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 60276.3281 - mae: 60276.3281 - val_loss: 56669.7656 - val_mae: 56669.7656
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 55306.5430 - mae: 55306.5430 - val_loss: 53121.1484 - val_mae: 53121.1484
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 52434.1133 - mae: 52434.1133 - val_loss: 51381.8164 - val_mae: 51381.8164
Epoch 11/100
250/250 [==============================] - 1s 6ms/step - loss: 51060.2227 - mae: 51060.2227 - val_loss: 50738.4688 - val_mae: 50738.4688
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50472.7891 - mae: 50472.7891 - val_loss: 50527.5664 - val_mae: 50527.5664
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50228.8281 - mae: 50228.8281 - val_loss: 50453.5898 - val_mae: 50453.5898
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 50108.9531 - mae: 50108.9531 - val_loss: 50433.8359 - val_mae: 50433.8359
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50025.2734 - mae: 50025.2734 - val_loss: 50421.8633 - val_mae: 50421.8633
Epoch 16/100
250/250 [==============================] - 1s 6ms/step - loss: 49972.7656 - mae: 49972.7656 - val_loss: 50400.6953 - val_mae: 50400.6953
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 49936.8594 - mae: 49936.8594 - val_loss: 50392.1797 - val_mae: 50392.1797
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49905.4531 - mae: 49905.4531 - val_loss: 50379.1055 - val_mae: 50379.1055
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 49876.3438 - mae: 49876.3438 - val_loss: 50369.4453 - val_mae: 50369.4453
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 49849.1406 - mae: 49849.1406 - val_loss: 50365.0352 - val_mae: 50365.0352
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49829.2969 - mae: 49829.2969 - val_loss: 50359.0156 - val_mae: 50359.0156
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49802.1250 - mae: 49802.1250 - val_loss: 50353.5508 - val_mae: 50353.5508
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49783.9102 - mae: 49783.9102 - val_loss: 50349.9570 - val_mae: 50349.9570
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49764.7344 - mae: 49764.7344 - val_loss: 50338.8633 - val_mae: 50338.8633
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49748.2695 - mae: 49748.2695 - val_loss: 50343.3828 - val_mae: 50343.3828
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49737.7891 - mae: 49737.7891 - val_loss: 50327.2031 - val_mae: 50327.2031
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49719.3164 - mae: 49719.3164 - val_loss: 50327.5234 - val_mae: 50327.5234
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49707.2148 - mae: 49707.2148 - val_loss: 50320.3008 - val_mae: 50320.3008
Epoch 29/100
250/250 [==============================] - 1s 6ms/step - loss: 49691.0859 - mae: 49691.0859 - val_loss: 50311.0977 - val_mae: 50311.0977
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49680.6758 - mae: 49680.6758 - val_loss: 50301.8633 - val_mae: 50301.8633
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49668.0312 - mae: 49668.0312 - val_loss: 50301.5234 - val_mae: 50301.5234
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49657.2617 - mae: 49657.2617 - val_loss: 50300.8555 - val_mae: 50300.8555
Epoch 33/100
250/250 [==============================] - 1s 6ms/step - loss: 49649.3672 - mae: 49649.3672 - val_loss: 50297.1445 - val_mae: 50297.1445
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 49632.6484 - mae: 49632.6484 - val_loss: 50300.5859 - val_mae: 50300.5859
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49625.0156 - mae: 49625.0156 - val_loss: 50302.7031 - val_mae: 50302.7031
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49613.5234 - mae: 49613.5234 - val_loss: 50300.0742 - val_mae: 50300.0742
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49606.9805 - mae: 49606.9805 - val_loss: 50305.5859 - val_mae: 50305.5859
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49596.4336 - mae: 49596.4336 - val_loss: 50296.4766 - val_mae: 50296.4766
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49587.2617 - mae: 49587.2617 - val_loss: 50297.6250 - val_mae: 50297.6250
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49578.3516 - mae: 49578.3516 - val_loss: 50298.4570 - val_mae: 50298.4570
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 49573.8516 - mae: 49573.8516 - val_loss: 50301.4961 - val_mae: 50301.4961
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49562.5352 - mae: 49562.5352 - val_loss: 50298.5742 - val_mae: 50298.5742
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49556.1094 - mae: 49556.1094 - val_loss: 50293.4023 - val_mae: 50293.4023
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49550.7734 - mae: 49550.7734 - val_loss: 50300.1211 - val_mae: 50300.1211
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49540.7812 - mae: 49540.7812 - val_loss: 50306.3828 - val_mae: 50306.3828
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49534.5273 - mae: 49534.5273 - val_loss: 50295.0977 - val_mae: 50295.0977
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49527.4961 - mae: 49527.4961 - val_loss: 50290.2891 - val_mae: 50290.2891
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49517.1133 - mae: 49517.1133 - val_loss: 50295.7617 - val_mae: 50295.7617
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49512.7188 - mae: 49512.7188 - val_loss: 50286.9336 - val_mae: 50286.9336
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49507.2344 - mae: 49507.2344 - val_loss: 50293.5195 - val_mae: 50293.5195
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49497.8438 - mae: 49497.8438 - val_loss: 50288.3477 - val_mae: 50288.3477
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49493.5312 - mae: 49493.5312 - val_loss: 50291.4492 - val_mae: 50291.4492
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49487.1289 - mae: 49487.1289 - val_loss: 50287.1289 - val_mae: 50287.1289
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49481.1484 - mae: 49481.1484 - val_loss: 50280.4727 - val_mae: 50280.4727
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49476.1055 - mae: 49476.1055 - val_loss: 50284.3516 - val_mae: 50284.3516
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49470.1992 - mae: 49470.1992 - val_loss: 50294.3008 - val_mae: 50294.3008
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49464.4023 - mae: 49464.4023 - val_loss: 50302.9688 - val_mae: 50302.9688
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49460.1250 - mae: 49460.1250 - val_loss: 50298.3125 - val_mae: 50298.3125
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49455.5117 - mae: 49455.5117 - val_loss: 50290.0000 - val_mae: 50290.0000
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49450.1055 - mae: 49450.1055 - val_loss: 50295.0664 - val_mae: 50295.0664
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 49444.2227 - mae: 49444.2227 - val_loss: 50305.6211 - val_mae: 50305.6211
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 49438.9141 - mae: 49438.9141 - val_loss: 50301.3867 - val_mae: 50301.3867
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49437.9531 - mae: 49437.9531 - val_loss: 50291.8906 - val_mae: 50291.8906
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 49431.8281 - mae: 49431.8281 - val_loss: 50282.9102 - val_mae: 50282.9102

In [40]:

%load_ext tensorboard

In [43]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 10460), started 0:00:08 ago. (Use '!kill 10460' to kill it.)

In [46]:
## Evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE : {test_mae}")

63/63 [==============================] - 0s 3ms/step - loss: 50280.4727 - mae: 50280.4727
Test MAE : 50280.47265625

In [48]:
model.save('regression_model.h5')

d:\Swapil2\LEARNING\Udemy-Krish\ANN\ANN_Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(